* {
  margin: 0px;
  box-sizing: border-box;
}

.bg-grey {
  background: #f7f7f7;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: #1d3557;
}

section > .container {
  width: 1170px;
  margin: auto;
  display: block;

  padding: 30px 50px;
}

#nav-bar {
  text-align: center;
}

/* Banner */
.img-banner {
  position: relative;
  background-image: url(../images/banner.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  filter: brightness(50%);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  background-size: cover; /* or contain */

  background-position: center center; /* or other desired position */
}
.text-banner {
  position: absolute;
  top: 25%;
  left: 40%;
  color: white;
  font-size: 24px;
  text-align: center;
}
.text-banner h1 {
  text-transform: uppercase;
}
.text-banner span {
  color: #bdc3c7;
}

/* Nav-bar */
#nav-bar a:link,
a:visited {
  text-decoration: none;
  color: #1d3557;
  text-transform: uppercase;
  border-left: 2px solid #dfe6e9;
  padding: 60px 20px 32px;
}

#nav-bar a:hover,
a:active {
  font-weight: bold;
}
.text-nav {
  display: inline-block;
  margin: 10px 70px 0;
}
.text-nav h1 {
  font-weight: bold;
  font-size: 32px;
}
.text-nav span {
  color: #bdc3c7;
}
.icon {
  color: #0abde3;
  font-weight: bold;
}

/* Info */
.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 40px;
  line-height: 2;
  margin-top: 40px;
}
li span {
  font-weight: bold;
}
.mt-40 {
  margin-bottom: 30px;
}
.section-title {
  font-size: 32;
  margin-bottom: 20px;
}

#personal-info {
  padding: 0 200px 80px 30px;
  background-color: #dff1fa;
  border-radius: 35px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  font-size: 18px;
}
#target {
  padding: 40px 30px;
  background-color: #e7f2f8;
  font-size: 18px;
  border-radius: 25px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

/* Info-Experiences */

.job-grid {
  display: grid !important;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 30px;
  align-items: start;
}
.job-box-grid {
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 20px;
  row-gap: 40px;
  border: 1px solid #bdc3c7;
  align-items: center;
  padding: 24px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.job-content {
  grid-column: 1/-1;
  margin: 20px;
}
.job-title {
  font-size: 18px;
  margin-left: 20px;
}
.now {
  background-color: #265d8f;
  padding: 4px 8px;
  color: #dff1fa;
  text-align: center;
  border-radius: 8px;
}

.list {
  position: relative;
}

.list1 {
  position: relative;
}

.job-node::before {
  content: "•";
  color: #0abde3;
  font-weight: bold;
  display: inline-block;
  font-size: 18px;
  position: absolute;
  left: -20px;
}
.job-node {
  font-size: 16px;
}

/* So thich */
.job-content i {
  font-size: 24px;
  color: #0abde3;
  border: 2px solid #0abde3;
  padding: 8px;
  border-radius: 50%;
  margin: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Progress */
.Good {
  background-color: #0abde3;
  display: inline-block;
  height: 3px;
  width: 45px;
  margin-right: 10px;
}
.Bad {
  background-color: #cfcfcf;
  display: inline-block;
  height: 2px;
  width: 45px;
  margin-right: 10px;
}

.small-title {
  font-weight: bold;
}

/* Certificated */

.cer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  column-gap: 30px;
}

.img-cc {
  width: 240px;
  margin-right: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.cer-content {
  display: flex;
  gap: 20px;
}

.cer-content-2 {
  padding-left: 20px;
  border-left: 2px solid #d6c08d;
}

.cer-content-3 {
  grid-column: 1/-1;
  padding-top: 20px;
  border-top: 2px solid #d6c08d;
}

/* Projects */

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
}

.project-flex {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.project-title {
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  border-left: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7;
}
.project-border {
  padding: 10px;
  border-top: 1px solid #bdc3c7;
  border-left: 1px solid #bdc3c7;
  border-right: 1px solid #bdc3c7;
}
table {
  border-collapse: collapse;
}
td {
  padding: 10px;
}

tr td:first-child {
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}

tr {
  border: 1px solid #bdc3c7;
}

/* Footer */

#footer {
  line-height: 1.5;
  text-align: center;
}

#footer a:link,
a:visited {
  font-size: 28px;
  font-weight: bold;
  margin-right: 50px;
  text-decoration: none;
  color: #1d3557;
}

#footer a:hover,
a:active {
  cursor: grab;
  color: #0abde3;
}

/* avatar circle */

.avt-default {
  height: 260px;
  width: 240px;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff;
}

.avt-banner {
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 50%;
  transform: translate(50%, -20%);
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

/* CSS for display form */

.not-active {
  display: none;
}

#toggle-form {
  padding: 40px 30px;
  background-color: #e7f2f8;
  font-size: 18px;
  border-radius: 25px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
.active {
  display: block;
}
.email-box {
  border-radius: 3px;
}
.email-box:focus {
  box-shadow: 0 10px 10px 0 rgba(16, 124, 196, 0.832);
}

#submit-btn {
  width: 90px;
  height: 40px;
}
