@media (max-width: 760px) {
  .text-nav {
    display: none;
  }
  .avt-banner {
    display: none;
  }
  #nav-bar {
    height: auto;
    display: block;
  }
  #nav-bar a:link,
  a:visited {
    display: block;
    padding: 10px;
    border-left: none;
    text-align: left;
  }

  #personal-info {
    padding-right: 25px;
  }

  .cer-content-2 {
    border-left: 0;
    border-top: 2px solid #d6c08d;
    padding-top: 20px;
  }

  #footer a:link {
    margin-right: 10px;
  }
  .responsive-image {
    max-width: 100%;
    height: auto;
  }
}
