@media (min-width:760px) and (max-width: 1024px){
    .text-nav{
        display: none;
    }
    .avt-banner {
        display: none;
    }
    #nav-bar a:link, a:visited{
        padding: 10px;
        margin-right: 1rem;
        padding-bottom: 30px;
    }
    #nav-bar{
        margin-top: 1rem;
    }

    #personal-info {
        font-size: 16px;
        padding-right: 40px;
    }
    #target {
        font-size: 16px;
    }
    #personal-info {
        padding-right: 25px;
    }

    .cer-content{
        flex-direction: column;
        gap: 30px;
    }

    .project-title{
        font-size: 14px;
    }
    .project-border {
        font-size: 10px;
        padding: 10px 4px !important;
    }
    .project-border span {
        margin-right: 5px !important;
    }

    td {
        font-size: 12px;
    }
    tr td:first-child{
        width: 30%;
    }
}